.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  --orange-red: #ee4e00;
  --sun-yellow: #ffff2b;
  --black: #000000;
  --white: #ffffff;

  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Moday Style */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 35%;
  height: 40rem;
  background-color: var(--white);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #ddd;
  cursor: pointer;
  z-index: 50;
}

.header {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/img/red.svg);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.header p {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.7em;
}
.header h1 {
  font-family: "Unna", serif;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1rem;
  color: var(--sun-yellow);
  text-shadow: 3px 4px 2px #594b1e;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.toast {
  height: 45rem;
  width: 36%;
  text-align: center;
  font-size: 1.6rem;
}
.toast h3 {
  margin-bottom: 3rem;
}
.toast p {
  line-height: 3rem;
}
.attend-box {
  width: 36%;
  height: 35rem;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3rem;
}

.react-tabs__tab-list {
  border-bottom: none;
}
.react-tabs__tab {
  width: 50%;

  background-color: var(--orange-red);
  color: var(--white);
  border: none;
  bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2ren;
}
.react-tabs__tab--selected {
  background-color: var(--white);
  color: var(--orange-red);
}
.react-tabs__tab-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
}
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.registration-form label,
.attend-choice {
  width: 100%;
}
.attend-choice {
  display: flex;
  align-items: center;
}

.registration-form input::placeholder {
  color: #ddd;
}
.registration-form input {
  padding: 10px;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
  outline: none;
}

.registration-form > input:focus {
  box-shadow: 0 1px 2px #ddd;
}

.registration-form #username {
  background: url(./assets/img/profile.svg) no-repeat scroll 7px 7px;
}
.registration-form #useremail {
  background: url(./assets/img/envelope.svg) no-repeat scroll 7px 7px;
}
.registration-form #phone-number {
  background: url(./assets/img/phone.svg) no-repeat scroll 7px 7px;
}
.success-message {
  padding: 1rem;
}
.success-message h2 {
  color: var(--orange-red);
}

.account-details {
  margin-top: 3rem;
  text-align: center;
}
.account-details .detail-item {
  width: 100%;
  padding: 5px 7px;

  margin-bottom: 2rem;
}
.account-details .detail-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.headings {
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 4.8rem;
  font-weight: bold;
}

.cta-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1.7rem 3rem;
  background-color: var(--orange-red);
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s, transform 0.3s;
}
.cta-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.fabric-box {
  width: 80%;
  text-align: center;
  margin-bottom: 3rem;
}
.mg-top-1 {
  margin-top: 1rem;
}

.fabrics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.fabric-item {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  background-color: var(--sun-yellow);
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.fabric-item img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.fabric-item .material-info {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: left;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.fabric-box p {
  width: 25rem;
}
.gift-couple {
  width: 80%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3rem;
}
.gift-couple p {
  width: 20rem;
}
.countdown-timer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.timer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.timer-pie {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.timer-details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: var(--orange-red);
  text-align: center;
  line-height: 1;
}
.timer-details .figures {
  font-weight: 700;
  font-size: 2.5rem;
}
.timer-details .text {
  font-weight: lighter;
}
.cta-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  position: relative;
  height: 10vh;
  display: flex;
  justify-content: center;

  background-image: url(./assets/img/footer.svg);

  color: var(--white);
}
.footer p {
  position: absolute;
  bottom: 1rem;
}
.hidden {
  display: none;
}
.bold-text {
  font-weight: 700;
}
p.header__info {
  width: 25%;
  letter-spacing: normal !important;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1rem;
}
p.opaque-info {
  width: 30%;
  font-size: 0.8rem !important;
  color: #fff;
  padding: 5px 5px;
  letter-spacing: 0.2rem !important;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  text-align: center;
}
@media (max-width: 414px) {
  .header {
    background-image: url(./assets/img/mobilebg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header h1 {
    font-size: 5.5rem;
  }
  .header p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.6em;
  }
  p.header__info {
    width: 90%;
    line-height: 1.5;
  }
  p.opaque-info {
    width: 85%;
  }

  .toast {
    height: 45rem;
    width: 30rem;
    text-align: center;
  }
  .attend-box {
    width: 30rem;
    height: 35rem;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 3rem;
  }
  .modal {
    top: 10%;
    width: 80%;
  }
}
